

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
	margin: 0;
	font-family: Open Sans;
}



h1 {
	margin: 0;
	text-align: center;
	top: 130px;
	position: relative;
	color: #fff;
}


#cabecalho {
	top: 0;
	background:#422755;
	height: 381px;
}

#p1 {

	text-align: center;
	top: 140px;
	position: relative;
	color: #fff;
}

#barra-pesquisa {
	width: 1145px;
	height: 85px;
	border: #feaf3d solid black;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 80px;
	display: flex;
	background-color: #feaf3d;

}

#botao {
	border: 0px solid;
	height: 34px;
	width: 69px;
	border-radius: 7px;
	margin-left: 0;
	float: right;	
	background-color:#6e4b87;
	color: #fff;
	font-size: 18px;
	cursor: pointer;

}


#texto-pesquisa {
	margin-left: 100px;
	margin-top: 30px;
	background-color: #fff;
	height: 34px;
	border-radius: 7px;

}

#caixa-texto {
	padding-left: 10px;
    border: 1px solid #fff;
    border-radius: 8px 0px 0px 5px; 
    color:#fff;
    height: 29px;
    width: 275px;
}

#select-pesquisa {
	margin-left: 300px;
	margin-top: 30px;
}

#select-frase {
	color: #fff;
	margin-right: 10px;
	float: left;
	margin-top: 5px;
}

#fundo-select{
	background-color: #fff;
	height: 34px;
	width: 193px;
	float: right;
	border: 1px solid #fff;
	border-radius: 8px;

}

select {
	border: none;
	height: 30px;
	width: 160px;
	margin-left: 25px;
	background: transparent;
	-webkit-appearance: none;
	background:url('setinha.png');
	background-repeat:no-repeat;
	background-size:30px 31px;
	background-position:right 0px;
}

.pesquisa {
	display: inline;
	text-align: center;
}

#tarefas {
    margin-left: auto;
    margin-right: auto; 
}

.colunas{
  display:flex;
  justify-content: center;	
}

.coluna {
	margin: 0;
	margin-right: 23px;
	border: 2px solid black;
	border-radius: 14px;
	margin: 20px;
	width: 253px;
	height: 401px;
	padding-top:20px ;
	padding-right: 20px;
	padding-left: 20px;
	box-sizing: border-box;

}



.imagem {
	width: 100%;
	height: 150px;

}

h3 {
	color: #414141;
	font-size: 14px;
	font-weight: 700;
}

.descricao {
	font-size: 12px;
}

.prazo {
	font-weight: 700;
	font-size: 12px;
	margin-right: 2px;
	margin-top: 5px;
}

.data-prazo {
	font-weight: 700;
	font-size: 18px;
	float: right;
	color: red;

}

.prazo-e-data {
	display: flex;
	margin-bottom: 10px;
}

#prazo-1{
	margin-top: 33px;
}

#prazo-2 {
	margin-top: 50px;
}

#prazo-3 {
	margin-top: 33px;
}

#botao-4 {
	margin-top: 55px;
}

.concluir {
	width: 210px;
	height: 40px;
    border: 1px solid #422755;
    background: #fff;
    border-radius: 8px;
    font-weight: ;
    text-align: center;
    color: #422755;
    cursor: pointer;

}

.concluir:hover {
	background: #422755;
	color: #fff;
}

#prazo-curto {
	position: absolute;
	border: 1px solid #422755;
	border-radius: 0px 5px 5px 0px;
	width: 102px;
	height: 25px;
	font-size: 12px;
	text-align: center;
	background: #422755;
	color: #fff;
	font-weight: 700;
	padding-top: 5px;
	margin-right: 1050px;
	margin-top: 50px;
}

.data-inclu {
	font-size: 10px;
	color: #414141;
}


#logo-e-desc {
	display: flex;
	justify-content: center;
	margin-top: 86px;
}

#logo {
	margin-top: 18px;
	margin-right: 54px;
	width: 234px;
    height: 137px;
}

#descricao-footer {
	width: 699px;
	height: 190px;
	color: #414141;
	font-size: 14px;
	margin-bottom: 48px;
}

#ultimo-p {
	color: #fff;
	text-align: center;
	background: #422755;
    height: 126px;
    padding-top: 50px;
}
}
